<!-- ヘッダー -->
    <header class="header01">
      <div class="header_logo">万両</div>
      <nav class="nav">
        <ul class="header_item">
        <% if user_signed_in? %>
          <li><%= link_to '万両の歴史', "#", class: "header_list" %></li>
          <li><%= link_to "#{current_user.name}様", "#", class: "header_list" %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "header_list" %></li>
          <li><%= link_to '予約はこちら', "#", class: "list_contact" %></li>
        <% else %>
          <li><%= link_to '万両の歴史', "#", class: "header_list" %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "header_list" %></li>
          <li><%= link_to 'ログイン', new_user_session_path, class: "header_list" %></li>
          <li><%= link_to '予約はこちら', "#", class: "list_contact" %></li>
          <% end %>
        </ul>
      </nav>
    </header>
