<%= render "shared/second-header" %>

<div class="new_main">
  <div class="new_inner">
    <div class="new_form__wrapper">
      <h2 class="new_page-heading">ログイン</h2>
        <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>

        <div class="n_field">
          <%= f.label :email, "メールアドレス",class: :form__text %><br />
          <%= f.email_field :email, id:"user_email", autofocus: true, autocomplete: "email",class: :form__box %>
        </div>

        <div class="n_field">
          <%= f.label :password, "パスワード（6文字以上）", class: :form__text %><br />
          <%= f.password_field :password, id:"user_password", autocomplete: "new-password",class: :form__box %>
        </div>

        <div class="n_actions">
          <%= f.submit "ログイン", class: :form__btn  %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
